{
  "proseWrap": "preserve",
  "tabWidth": 2,
  "printWidth": 90,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "bracketLine": true,
  "arrowParens": "avoid"
}
